$theme-colors: (
  "primary": #519a84,
);

@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;700&display=swap');

$font-family-sans-serif: 'Inter', sans-serif;

// 

#app-text-logo {
  color: #6DBDA5;
  font-weight: bold;
}
.unstyled-link {
  text-decoration: none;
  color: white;
  
}
.unstyled-link:hover {
  color: white;
}

// home background gradient
// background: linear-gradient(to right top, #008077, #06ACA1);

// NAVBAR

nav {
  border-bottom-left-radius: 2rem;
  border-bottom-right-radius: 2rem;
}
nav a {
  text-decoration: none;
  color: black;
}
nav a:hover {
  color: #519a84;
}
nav .active {
  font-size: 1.3rem;
}
nav > ul {
  list-style: none;
  padding: 0;
  margin: 0;
  text-decoration: none;
}
nav > ul li {
  padding: 0.5rem;
}

// CONTAINERS

.glass-block {
  background: radial-gradient(rgba(255, 255, 255, 0.45), rgba(255, 255, 255, 0.1));
}


// HOME PAGE

.home-link {
  width: 150px;
  height: 150px;
  transition: 0.1s ease-in;
}
.home-link:hover {
  transform: scale(1.2);
}
.home-link-meditate {
  background: linear-gradient(to right top, #e66465, #9198e5);
}
.home-link-stretch {
  background: linear-gradient(to right top, #22C1C3, #FDBB2D);
}
.home-link-quotes {
  background: linear-gradient(to right top, #94BBE9, #EEAECA);
}



// QUOTES PAGE

.quotes {
  min-height: 50vh;
  background: linear-gradient(to right top, #94BBE9, #EEAECA);
}
.quote-card {
  color: rgba(105, 84, 84);
  transition: 0.1s ease-in;
  background: linear-gradient(to right bottom, rgba(255, 255, 255, 0.6), rgba(255, 255, 255, 0.2));
  backdrop-filter: blur(1rem);
}
.quote-card:hover {
  backdrop-filter: none;
  transform: scale(1.03);
  -webkit-box-shadow: 0px 10px 23px -12px rgba(255,255,255,0.5);
  -moz-box-shadow: 0px 10px 23px -12px rgba(255,255,255,0.5);
  box-shadow: 0px 0px 23px 0px rgba(255,255,255,0.5);
}

#add-quote-form {
  color: rgba(105, 84, 84);
}

// MEDITATE PAGE

.meditate {
  min-height: 50vh;
  background: linear-gradient(to right top, #e66465, #9198e5);
}

// STRETCH PAGE

.stretch {
  min-height: 50vh;
  background: linear-gradient(to right top, #22C1C3, #FDBB2D);
}


@import '/node_modules/bootstrap/scss/bootstrap.scss';